# pixi environments
.pixi/*
!.pixi/config.toml

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Experiment artifacts
experiments/
outputs/
checkpoints/
results/

# VS Code
.vscode/

#Paper PDFs
*.pdf
